.DS_Store
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
*.dSYM
*.swp
skript/images/*.mpx
skript/images/*.eps
skript/images/*.pdf
skript/images/*.[0-9]
skript/images/*.[0-9][0-9]
skript/checklist.pdf
skript/skript.pdf
skript/tacho/*.pdf
skript/tacho/*.[0-9]
skript/tacho/*.mpx
aufgaben/**/*.pdf
aufgaben/**/*.[0-9]
aufgaben/**/*.[0-9][0-9]
aufgaben/**/*.mpx
aufgaben/**/*.eps
aufgaben/[0-9].tex
aufgaben/r.tex
aufgaben/[0-9][0-9].tex
aufgaben/**/mandarinen.txt
aufgaben/**/filtered.csv
aufgaben/**/kalman.m.expand
aufgaben/**/bsim
aufgaben/**/sim
aufgaben/**/sim.c.expanded
aufgaben/**/sim.expanded.c
